@model IEnumerable<FinalProjectThatWorks.DATA.EF.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Current Reservations</h2>

@if (User.IsInRole("Owner"))
{
    @Html.ActionLink("Create New", "Create")

}
@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Create New", "Create")
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.CarName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                
                @Html.ActionLink("Details", "Details", new { id = item.ReservationId }) 
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReservationId }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReservationId })
                }
            </td>
        </tr>
    }

</table>
