
@{
    Layout = null;
}

<!--Begin Document-->
<!DOCTYPE HTML>
<!--
    Road Trip by TEMPLATED
    templated.co at templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<!--Head Section-->
<head>
    <!--Character Set-->
    <meta charset="utf-8">

    <!--Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Tags-->
    <meta name="description" content="">
    <meta name="author" content="">

    <!--Favicon-->
    <link rel="shortcut icon" href="~/Content/assets/img/favicon.ico">

    <!--Page Title-->
    <title>Car Repair Application</title>

    <!--Style Sheets-->
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/assets/css/animate.css" rel="stylesheet">
    <link href="~/Content/assets/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/assets/css/pe-icons.css" rel="stylesheet">
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet" />

    <!--Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Cabin:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

    <!--Scripts-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="~/Content/assets/js/jquery.js"></script>
    <script src="~/Content/assets/js/modernizr.custom.js"></script>    
</head>
<!--Head Section-->
<!--Body Section-->
<body>
    <!-- Preloader -->
    <div id="preloader"></div>  

    <!-- Nav -->
    <nav class="menu" id="theMenu">
        <div class="menu-wrap">
            <i class="fa fa-bars menu-close"></i>
            <div id="menu-logo">
                <h2><span class="pe-7s-chat logo-icon"></span> Main Menu </h2>
            </div>
            <ul id="main-menu">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <i class="fa fa-home menu-icon"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        @if (User.IsInRole("Employee"))
                        {
                            <li><a href="@Url.Action("Index", "Reservations")">Reservations</a></li>
                            <li><a href="@Url.Action("Index", "Locations")">Locations</a></li>
                            <li><a href="@Url.Action("Index", "Cars")">Cars</a></li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a href="@Url.Action("Index", "Reservations")">Reservations</a></li>
                            <li><a href="@Url.Action("Index", "Locations")">Locations</a></li>
                            <li><a href="@Url.Action("Index", "Cars")">Cars</a></li>
                            <li><a href="@Url.Action("Index", "UserDetails")">User Details</a></li>
                            <li><a href="@Url.Action("Index", "UsersAdmin")">UsersAdmin</a></li>
                            <li><a href="@Url.Action("Index", "RolesAdmin")">RolesAdmin</a></li>
                        }
                        @if (User.IsInRole("Owner"))
                        {
                            <li><a href="@Url.Action("Index", "Reservations")">Reservations</a></li>
                            <li><a href="@Url.Action("Index", "Locations")">Locations</a></li>
                            <li><a href="@Url.Action("Index", "Cars")">Cars</a></li>
                        }
                        @Html.Partial("_LoginPartial")
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!--Main Content Section-->
    @RenderBody()
    <!--Main Content Section-->
    <!--Footer Content-->
    <!-- Footer -->
    <div id="footerwrap">
        <div id="footer-copyright">
            <div class="container">
                &copy; 2021 Mack Jones | Template By Distinctive Themes
            </div>
        </div>
    </div>

    <a id="gototop" class="gototop no-display" href="#"><i class="fa fa-angle-up"></i></a>

    <!-- Scripts -->
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/plugins.js"></script>
    <script src="~/Content/assets/js/imagesloaded.js"></script>
    <script src="~/Content/assets/js/prettyPhoto.js"></script>
    <script src="~/Content/assets/js/init.js"></script>
    @RenderSection("scripts", required: false)
</body>
    <!--Body Section-->
</html>
<!--End Document-->