
@{
    Layout = null;
}

<!--Begin Document-->
<!DOCTYPE HTML>
<!--
    Road Trip by TEMPLATED
    templated.co at templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<!--Head Section-->
<head>
    <!--Page Title-->
    <title>@ViewBag.Title</title>

    <!--Character Sets-->
    <meta charset="utf-8" />

    <!--Viewports-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Style Sheets-->
    <link rel="stylesheet" href="~/Content/assets/css/main.css" />
    <link rel="stylesheet" href="~/Content/assets/css/custom.css" />
</head>
<!--Head Section-->
<!--Body Section-->
<body>

    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="index.html"></a></div>
        <a href="#menu"><span>Menu</span></a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            @if (User.IsInRole("Employee"))
            {
                <li><a href="@Url.Action("Index", "Reservations")">Reservations</a></li>
                <li><a href="@Url.Action("Index", "Locations")">Locations</a></li>
                <li><a href="@Url.Action("Index", "Cars")">Cars</a></li>
            }

            @if (User.IsInRole("Admin"))
            {
                <li><a href="@Url.Action("Index", "Reservations")">Reservations</a></li>
                <li><a href="@Url.Action("Index", "Locations")">Locations</a></li>
                <li><a href="@Url.Action("Index", "UsersAdmin")">UsersAdmin</a></li>
                <li><a href="@Url.Action("Index", "Cars")">Cars</a></li>
                <li><a href="@Url.Action("Index", "UserDetails")">User Details</a></li>
                <li><a href="@Url.Action("Index", "RolesAdmin")">RolesAdmin</a></li>
            }
            @if (User.IsInRole("Owner"))
            {
                <li><a href="@Url.Action("Index", "Reservations")">Reservations</a></li>
                <li><a href="@Url.Action("Index", "Locations")">Locations</a></li>
                <li><a href="@Url.Action("Index", "Cars")">Cars</a></li>
            }
            @Html.Partial("_LoginPartial")
        </ul>
    </nav>



    <!--Main Content Section-->
    @RenderBody()
    <!--Main Content Section-->
    <!--Footer Content-->
    <!-- Footer -->
    <footer id="footer">
        <div class="inner">

            <h2>Contact Us</h2>

            @*<form action="#" method="post">

                    <div class="field half first">
                        <label for="name">Name</label>
                        <input name="name" id="name" type="text" placeholder="Name">
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input name="email" id="email" type="email" placeholder="Email">
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input value="Send Message" class="button alt" type="submit"></li>
                    </ul>
                </form>*@

            <ul class="icons">
                <li><a href="#" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>

            <div class="copyright">
                &copy; Mack Jones 2021  Template Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
            </div>

        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/Content/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/Content/assets/js/skel.min.js"></script>
    <script src="~/Content/assets/js/util.js"></script>
    <script src="~/Content/assets/js/main.js"></script> 
    @RenderSection("scripts", required: false)
</body>
<!--Body Section-->
</html>
<!--End Document-->