@model IEnumerable<FinalProjectThatWorks.DATA.EF.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!--If user is in an Owner Role-->
@if (User.IsInRole("Owner"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<!--If user is in an Admin Role-->
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.FirstName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarPhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OwnerAssetId }) |
                @Html.ActionLink("Details", "Details", new { id = item.OwnerAssetId }) |
                <!--If user is in Admin role-->
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.OwnerAssetId })
                }
            </td>
        </tr>
    }

</table>
