@model IEnumerable<FinalProjectThatWorks.DATA.EF.Car>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDetail.FirstName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarPhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.OwnerAssetId }) |
                @Html.ActionLink("Details", "Details", new { id=item.OwnerAssetId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.OwnerAssetId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
